* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#container {
    background-color: grey;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    position: relative;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    padding: 1.5em;
}

.follow-us {
    text-align: center;
    padding: 0.5em;
}

.social {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

.social i {
    font-size: 1.5em;
}

.brand-name {
    /* visibility: hidden; */
    display: none;
    font-size: 0.5em;
}

.logo {
    width: 80px;
    height: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5em;
    cursor: pointer;
    transition: 1s;
}

.logo-clicked {
    width: 80px;
    height: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5em;
    border-radius: 15px;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    transition: 1s;
}
.logo-clicked .brand-name {
    display: block;
}


.facebook {
    background-color: rgb(35, 35, 194);
}

.twitter {
    background-color: rgb(201, 231, 241);
}

.insta {
    background-color: rgb(245, 84, 170);
}